charts/data/schema/concept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <!-- XML Schema Generated from XML Document on Mon Jan 01 2018 09:35:34 GMT+1000 (AEST) -->
      <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
      <xs:element name="concept">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="title" type="xs:string"></xs:element>
                        <xs:element name="shortdesc" type="xs:string"></xs:element>
                        <xs:element name="prolog">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="metadata">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="keywords">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="indexterm" type="xs:string">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="indexterm" type="xs:string"></xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element name="conbody">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="p" maxOccurs="unbounded" type="xs:string">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="filepath" type="xs:string"></xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"></xs:attribute>
            </xs:complexType>
      </xs:element>
</xs:schema>
