charts/data/schema/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
  <xs:annotation>
    <xs:appinfo>Random Note</xs:appinfo>
    <xs:documentation xml:lang="en">A random note.</xs:documentation>
  </xs:annotation>
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="to"/>
        <xs:element type="xs:string" name="from"/>
        <xs:element type="xs:string" name="heading"/>
        <xs:element type="xs:string" name="body"/>
        <xs:element type="xs:string" name="signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
